---
layout: default
title: Shi Johnson-Bey - Projects
---

<main>
    <div class="container mt-5">
        <h1 class="text-center display-1 mb-3">Projects</h1>

        {% for member in site.data.dev_projects %}
        <h2 class="d-block d-md-none text-center">
            {{member.name}}
        </h2>
        <div class="row mb-4">
            <div class="col col-12 col-md-6 project-image p-3">
                <img src="{{member.img_src}}" alt="{{member.img_alt}}" class="w-100 rounded shadow" />
            </div>
            <div class="col col-12 col-md-6 project-description">
                <div>
                    <h2 class="d-none d-md-block">{{member.name}}
                    </h2>
                    <div class="my-2">
                        {% if member.status == "active" %}
                        <img src="https://img.shields.io/badge/Status-Active-green?style=for-the-badge" alt="" />
                        {% elsif member.status == "inactive" %}
                        <img src="https://img.shields.io/badge/Status-Inactive-red?style=for-the-badge" alt="" />
                        {% elsif member.status == "archived" %}
                        <img src="https://img.shields.io/badge/Status-Archived-orange?style=for-the-badge" alt="" />
                        {% endif %}
                    </div>
                    <p>
                        {{member.summary}}
                    </p>
                    {% if member.github %}
                    <div class="mb-3">
                        <a href="{{member.github}}" rel="none">
                            <button class="btn btn-primary">
                                View on GitHub
                            </button>
                        </a>
                    </div>
                    {% endif %}
                    {% if member.post %}
                    <div class="mb-3">
                        <a href="{{member.post}}" rel="none">
                            <button class="btn btn-primary">
                                Read More
                            </button>
                        </a>
                    </div>
                    {% endif %}
                    {% if member.links %}
                    {% for entry in member.links %}
                    <div class="mb-3">
                        <a href="{{entry.url}}" rel="none">
                            <button class="btn btn-primary">
                                {{entry.text}}
                            </button>
                        </a>
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>

        <hr>
        {% endfor %}

    </div>
</main>