/* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    align-self: center;
    width: 50%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use webkit (Chrome, Opera, Safari, Edge) and moz (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #fffb00; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #fffb00; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

div#game-container {
    margin-top: 16px;
    border: 10px inset;
    position: relative;
    width: 780px;
    height: 620px;
    -webkit-border-image: url(../Assets/infiniforge/border1.png) 30 stretch;
    -o-border-image: url(../Assets/infiniforge/border1.png) 30 stretch;
    border-image: url(../Assets/infiniforge/border1.png) 30 stretch;
}

div#scene-pane {
    position: absolute;
    left: 0;
    top: 0;
    width: 460px;
    height: 620px;
}


canvas#threejs-canvas {
    width: 460px;
    height: 620px;
}


div#options-pane {
    position: absolute;
    right: 0;
    top: 0;
    width: 320px;
    height: 600px;
    background: #000000;
}

p {
    margin-left: 10px;
    color: white;
}

#forge-button, #smelt-button {
    display: inline-block;
    padding: 10px 25px;
    margin: 0px 10px;
    font-size: 22px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #ac381b;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px rgb(228, 148, 0);

}

#forge-button:hover, #smelt-button:hover {
    background-color: #4b260d
}

#forge-button:active, #smelt-button:active {
    background-color: #b13200;
    box-shadow: 0 5px rgb(48, 21, 0);
    transform: translateY(4px);
}



body {
    font-family: Arial;
}


#item-options-pane {
    height: 200px;
}

#forge-options, #smelt-options, #inventory{
    height: 200px;
    border: inset 5px silver;
    background-color: #444;
    background-image: url(../Assets/infiniforge/wood.jpg)
}

#dom-gui {
    position: absolute;
    top: 0;
    left: 0;
}

#anvil-sprite {
    height: 64px;
    width: 64px;
    border: none;
}

.show {display:block;}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    width: 200px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -60px;
}

