body {
    background-color: black;
    margin: 30px;
    color: white;
}

h1 {
    background-image: url( "../Assets/bg2.jpg" );
    height: 100px;
    border-style: outset;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    text-align: center;
    line-height: 100px;
}

h2 {
    background-image: url( "../Assets/bg2.jpg" );
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-style: outset;
    color: white;
}

h3 {
    color: white;
}


p {
    margin: 30px;
    color: white;
}

ul {
    margin: 30px;
    color: white;
}

li {
    color: white;
}

img#matrix {
    width: 600px;
    height: 300px;
    margin: auto;
}

img#UD {
    margin: auto;
}


